@using System.Linq
@using noteprice.Web.Classes
@model noteprice.Web.Models.PriceAddModel

@{
    ViewBag.Title = "Add price";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Price", FormMethod.Post, new {  role = "form" }))
{
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div>
        @Html.LabelFor(m => m.StoreIdStr)
        <div>
            
            @Html.DropDownListFor(m => m.StoreIdStr, AppContext.Current.Service.GetStores().ToList().Select(s => new SelectListItem { Text = s.StoreName, Value = s.Id.ToString(), Selected = Model!=null && s.Id == Model.StoreId }).ToList(), "-Select Store-")
        </div>
    </div>
        <div>
        @Html.LabelFor(m => m.Text)
        <div>
            @Html.TextBoxFor(m => m.Text)
        </div>
    </div>
    <div>
        @Html.LabelFor(m => m.ValueStr)
        <div>
            @Html.TextBoxFor(m => m.ValueStr)
        </div>
    </div>
    <div>
        @Html.LabelFor(m => m.WeightStr)
        <div>
            @*@Html.TextBoxFor(m => m.WeightStr)*@ 
            @Html.DropDownListFor(m => m.WeightStr, AppContext.Current.Service.GetWeighCommon().ToList().Select(s => new SelectListItem { Text = s.Name, Value = s.Value.ToString()}).ToList(), "-Select Weight-")
        </div>
    </div>

    <div>
        <div>
            <input type="submit" value="Add" />
        </div>
    </div>
}
