@using noteprice.Web.Classes
@model noteprice.Web.Models.PriceEditModel

@{
    ViewBag.Title = "Edit Price";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Edit", "Price", FormMethod.Post, new { role = "form" }))
{
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div>
        @Html.LabelFor(m => m.StoreIdStr)
        <div>
            @Html.DropDownListFor(m => m.StoreIdStr, AppContext.Current.Service.GetStores().ToList().Select(s => new SelectListItem { Text = s.StoreName, Value = s.Id.ToString(), Selected = s.Id == Model.StoreId }).ToList())
        </div>
    </div>
    <div>
        @Html.LabelFor(m => m.Text)
        <div>
            @Html.TextBoxFor(m => m.Text)
        </div>
    </div>
    <div>
        @Html.LabelFor(m => m.ValueStr)
        <div>
            @Html.TextBoxFor(m => m.ValueStr)
        </div>
    </div>
    <div>
        @Html.LabelFor(m => m.WeightStr)
        <div>
            @Html.TextBoxFor(m => m.WeightStr)
        </div>
    </div>

    <div>
        <div>
            <input type="submit" value="Update" />
        </div>
    </div>
}