@using noteprice.Web.Classes
@model IEnumerable<noteprice.Web.Models.PricieViewModel>
@{
    ViewBag.Title = "Prices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="addPrice" style="display: none" >
    
    @using (Ajax.BeginForm("CreateAjax", "Price", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "priciesList",
        LoadingElementId = "loader",
        OnSuccess = "onSuccessPriceAdd",
        OnFailure = "onFailureQuery"
    }))
    {
        <div>
            @Html.Label("Store")
            <div>
                @Html.DropDownList("StoreIdStr", AppContext.Current.Service.GetStores().ToList().Select(s => new SelectListItem { Text = s.StoreName, Value = s.Id.ToString() }).ToList())
            </div>
        </div>
        <div>
            @Html.Label("Text")
            <div>
                @Html.TextBox("Text", "", new { autocomplete = "off", @class = "text-box-str" })
            </div>
        </div>
        <div style="float:left; width: 100%" >
            <div style="float:left; width: 100px">
                @Html.Label("Value")
                <div>
                    @Html.TextBox("ValueStr", "", new { type = "number", autocomplete = "off", @class = "text-box-num" })
                </div>
            </div>    
            <div style="float:left; width: 100px; margin-left: 3px">
                @Html.Label("Weight")
                <div>
                    @Html.TextBox("WeightStr", "", new { type = "number", autocomplete = "off", @class="text-box-num" })
                </div>
            </div>
        </div>
        <div style="float: right; width: 100%"><input type="submit" value="Add" /> </div>
     
    }
    <button id="search-btn" onclick=" toSearch();">to search</button>
</div>
<div id ="search">
    
    @using (Ajax.BeginForm("Search", "Price", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "priciesList",
        LoadingElementId = "loader",
        OnFailure = "onFailureQuery"
        
    }))
    {
        @Html.TextBox("filter", "", new { autocomplete = "off"})
        <input type="submit" value="Search" /> 
    }
    <button id="add-price-bnt" onclick="toAdd();">to add</button>

</div>
<div id="loader" class=" aletr" style="display:none">
    <img src="~/Content/Images/ajax-loader.gif" />
</div>

@Html.Partial("PriceList")