@model noteprice.Web.Models.PriciesListModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ActionLink("Add Price", "Create")

@using (Html.BeginForm("Search", "Price", FormMethod.Get))
{
    @Html.TextBox("filter")
    <input type="submit" value="Search" />
}
<div>
    @foreach (var p in Model.Pricies)
    {
        <div>
            <div><b>[@p.Text]</b></div>
            <div>@p.StoreName @p.DateCreated.ToString("g") </div>
            <div><b>@p.Value.ToString("N2")</b> |@p.Weight|</div>
            <div>@Html.ActionLink("Edit","Edit",new {p.Id})</div>
        </div>
    <hr />
    }
</div>