@model noteprice.Web.Models.PricieViewModel
<fieldset>
        <legend> <b>@Model.Text</b> </legend>
        <div>@Model.StoreName @Model.DateCreated.ToString("M") </div>
        <div><b>@Model.Value.ToString("N0")</b>р. <i>@Model.WeightStr</i> </div>
        <div>@Html.ActionLink("Edit", "Edit", new { Model.Id })</div>
    </fieldset>
