@model IEnumerable<noteprice.Web.Models.PricieViewModel>

<div id="priciesList">
    @foreach (var p in Model)
    {
     <fieldset>
        <legend> <b>@p.Text</b> </legend>
        <div>@p.StoreName @p.DateCreated.ToString("M") </div>
        <div><b>@p.Value.ToString("N0")</b>р. <i>@p.WeightStr</i> </div>
        <div>@Html.ActionLink("Edit", "Edit", new { p.Id })</div>
    </fieldset>
    }
</div>