@model noteprice.Web.Models.PricieViewModel
<div class="price-div">
    <div class="price-title-div">
        <p class="price-titel">@Model.Text</p>
    </div>
    <div class="price-info-div">
        <div style="float: left; width: 100%">
            <p class="price-value">@Model.Value.ToString("N0")р.</p>  
            <p class="price-weight">@Model.WeightStr</p> 
            </div>
        <div style="float: left; width: 100%">
            @Html.ActionLink("Edit", "Edit", new { Model.Id }, new { @class = "price-action" })
            @Html.ActionLink("Make a copy", "MakeCopy", new { Model.Id }, new { @class = "price-action" })
        </div>
    </div>
    <div style="float:right">
        <div>
            <p class="price-date">@Model.DateCreated.ToString("M")</p> <p class="price-store"> @Model.StoreName<p>
        </div>
        <p class="price-normvalue">@Model.NormalValue.Value.ToString("N0")</p>
    </div>
</div>
